<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <title>共享白板</title>
  <link rel="stylesheet" href="/public/css/whiteboard.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/uuid@8/dist/umd/uuidv4.min.js"></script>
  <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js" crossorigin></script>
  <script crossorigin src="https://unpkg.com/@msgpack/msgpack"></script>
</head>
<body>
  <div id="app" class="w-full h-full"></div>
  <script src="/public/js/WS.js"></script>
  <script src="/public/js/WB.js"></script>
  <!-- Will be preprocessed by Babel  -->
  <script type="text/babel" src="/public/js/WhiteBoard.jsx"></script>
  <script type="text/babel" src="public/js/App.jsx"></script>
</body>
</html>